.control-show {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  right: 10px;
  top: calc((100% - 30px) / 2);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s background ease-out;
}

.control-show:hover {
  background: var(--color-primary);
  color: #FFF;
  cursor: pointer;
  transition: .3s background ease-out;
}
