.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9999999;
  padding: 10px;
}

.modal-box {
  min-height: 100px;
  max-width: 100%;
  max-height: 90vh;
  /*width: 90%;*/
  background: var(--color-bg-second);
  border-radius: 5px;
  box-shadow: var(--shadow-box-general);
  animation: renderScale .3s ease-out;
}

.header-modal {
  height: 50px;
  background: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--color-border-input);
  /*border-bottom: 1px solid var(--border-dark);*/
}

.title-modal {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-btw);
}

.close-modal {
  width: 10px;
  height: 10px;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--text-ligth);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal:hover {
  cursor: pointer;
}

.body-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  max-height: calc(95vh - 50px);
  overflow: hidden;
  overflow-y: auto;
}

.content-modal {
  display: grid;
  row-gap: 10px;
  padding: 10px;
  min-width: 350px;
  width: 350px;
  max-width: 800px;
}

.section-form {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--border-dark);
}

.title-section {
  font-weight: bold;
  text-align: center;
  color: var(--color-text-btw);
}

.fields-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.control-body {
  height: 60px;
  padding: 10px;
  width: 100%;
  display: flex;
  column-gap: 5px;
  justify-content: flex-end;
}

.control-modal {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  border-top: 1px solid var(--color-border-input);
  background: var(--color-bg);
  border-radius: 5px;
}
