@keyframes floatImage {
  0% {
    transform: translate(0, 0);
    rotate: 0deg;
    opacity: 0;
  }

  25% {
    transform: translate(calc(-60% + 350px), 0px);
    rotate: 90deg;
    opacity: 0.5;
  }

  50% {
    transform: translate(0, 200px);
    rotate: 180deg;
    opacity: 0.7;
  }

  75% {
    transform: translate(calc(-60% + 350px), 0px);
    rotate: 270deg;
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
    rotate: 360deg;
    opacity: 0;
  }
}

@keyframes floatImageSecond {
  0% {
    transform: translate(0, 0);
    rotate: 0deg;
    opacity: 0;
  }

  25% {
    transform: translate(calc(-60% + 350px), 0px);
    rotate: -90deg;
    opacity: 0.5;
  }

  50% {
    transform: translate(0, 200px);
    rotate: -180deg;
    opacity: 0.7;
  }

  75% {
    transform: translate(calc(-60% + 350px), 0px);
    rotate: -270deg;
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
    rotate: -360deg;
    opacity: 0;
  }
}

@media (min-width: 800px) and (max-width: 5000px) {
  .floating-image {
    display: block;
  }
}
